langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
pymupdf
langchain-text-splitters
langchain-openai
chromadb
sentence-transformers  ##embeddings are here
langchain-community
langchain-chroma
langchain-ollama
beautifulsoup4  # For web scraping and data extraction
streamlit  # For building the web application
langchain-groq
langchain-core
fastapi  # For building the API
langserve  # For serving the LangChain application
tensorflow-cpu
validators
unstructured
huggingface_hub
python-magic
